# 1.Manipulate using list.
i)  To add new elements to the end of the list.
ii) To reverse elements in the list.
iii) To display the same list of elements multiple times.
iv)  To concatenate two list
v)  To sort the elements in the list in ascending order.

In [8]:
#i) To add new elements to the end of the list.
lst=[1,9,32,1,2]
print("Before adding new elements")
print(lst)
lst.append(99)
print("After adding new elements")
print(lst)

Before adding new elements
[1, 9, 32, 1, 2]
After adding new elements
[1, 9, 32, 1, 2, 99]

In [13]:
#  ii) To reverse elements in the list.
lst=[1,9,32,1,2]

# process 1
print(lst[::-1])

# process 2
lst.reverse()
print(lst)

[2, 1, 32, 9, 1]
[2, 1, 32, 9, 1]

In [17]:
# iii) To display the same list of elements multiple times.
lst=[1,9,32,1,2]
print(lst*5)

[1, 9, 32, 1, 2, 1, 9, 32, 1, 2, 1, 9, 32, 1, 2, 1, 9, 32, 1, 2, 1, 9, 32, 1, 2]

In [26]:
# iv) To concatenate two list
l1=[1,2,3,4]
l2=[5,6,7,8]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
# v) To sort the elements in the list in ascending order.
lst=[1,9,32,1,2]
lst.sort()
print(lst)

[1, 1, 2, 9, 32]

# Write a python program to do in the Tuples
i)  Manipulate using tuples
ii) To add new elements to the end of the tuples
iii) To reverse elements in the tuple
iv) To display the elements of the same tuple multiple times.
v) To concatenate two tulples.
vi) To sort the elements in the list in ascending order.

In [27]:
#  i)  Manipulate using tuples
# ii) To add new elements to the end of the tuples
t=(1,9,2,5,6)
t.append(4)
print(t)   #We can't add elements in tuple because tuple is immutable.

AttributeError: 'tuple' object has no attribute 'append'

In [35]:
# iii) To reverse elements in the tuple
t=(1,9,2,5,6)

print(t[::-1])

(6, 5, 2, 9, 1)

In [36]:
# iv) To display the elements of the same tuple multiple times.
t=(2,1,3,42,56,8)
print(t*2)

(2, 1, 3, 42, 56, 8, 2, 1, 3, 42, 56, 8)

In [39]:
# v) To concatenate two tulples.
t=(1,2,4,5,6)
t2=(7,8,9,0,2)
print(t+t2)

(1, 2, 4, 5, 6, 7, 8, 9, 0, 2)

In [45]:
# vi) To sort the elements in the list in ascending order.
t=(7,8,9,0,2)
t1=sorted(t)
print(t1)

[0, 2, 7, 8, 9]

# 3. Write a python program to implement the following using list.

i)   Create a list with integers (minimum 10 numbers)

ii)  How to display the last number in the list

iii) Command for displaying the values from the list [0:4]

iv)  Command for displaying the values from the list [2:]

v)  Command for displaying the values from the list[:6]

In [54]:
# i)   Create a list with integers (minimum 10 numbers)
n=10
#first process
l=[i for i in range(1,n+1)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
# ii)  How to display the last number in the list
l=[1,2,3,9,2,80,10]
print(l[-1])

10

In [57]:
# iii) Command for displaying the values from the list [0:4]
l=[1,2,3,9,2,80,10]
print(l[0:4])

[1, 2, 3, 9]

In [58]:
# iv)  Command for displaying the values from the list [2:]
l=[1,2,3,9,2,80,10]
print(l[2:])

[3, 9, 2, 80, 10]

In [60]:
# v)  Command for displaying the values from the list[:6]
l=[1,2,3,9,2,80,10,11,2,3,5]
print(l[:6])

[1, 2, 3, 9, 2, 80]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

i) To display the elements 10 and 50 from tuple1

ii) To display the length of a tuple1.

iii) To find the minimum element from tuple1. 

iv) To add all elements in the tuple1.

v) To display the same tuple1 multiple times.

In [61]:
# i) To display the elements 10 and 50 from tuple1
tuple1 = (10,50,20,40,30)
print(tuple1[:2])

(10, 50)

In [62]:
# ii) To display the length of a tuple1.

len(tuple1)

5

In [63]:
# iii) To find the minimum element from tuple1. 

print(min(tuple1))

10

In [65]:
# iv) To add all elements in the tuple1.

print(sum(tuple1))

150

In [67]:
# v) To display the same tuple1 multiple times.
n=3
print(tuple1*n)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program:

i) To calculate the length of a string

ii) To reverse words in a string

iv) To display the same string multiple times

iv) To concatenate two strings

v) Str1="South India", using string slicing to display "India"

In [71]:
# i) To calculate the length of a string
s="Mphasis Learning Academy MLA "
print(len(s))

29

In [72]:
# ii) To reverse words in a string
print(s[::-1])

 ALM ymedacA gninraeL sisahpM

In [74]:
# iv) To display the same string multiple times

print(s*3)

Mphasis Learning Academy MLA Mphasis Learning Academy MLA Mphasis Learning Academy MLA

In [75]:
# iv) To concatenate two strings
s1="I am learning AI ML"
s2=" in Mphasis Learning Academy"
print(s1+s2)

I am learning AI ML in Mphasis Learning Academy

In [76]:
# v) Str1="South India", using string slicing to display "India"

Str1="South India"
print(Str1[5:])

 India

# 6 Perform the following:

i) Creating the Dictionary.

ii) Accessing values and keys in the Dictionary.

iii) Updating the dictionary using a function.

iv) Clear and delete the dictionary values.

In [85]:
# i) Creating the Dictionary.

dict={"EMP_ID":"1234","EMP_NAME":"Dileep"}
print(dict)

{'EMP_ID': '1234', 'EMP_NAME': 'Dileep'}

In [86]:
# ii) Accessing values and keys in the Dictionary.

d=dict["EMP_ID"] #By using key we can access in dictonaries.
print(d)

1234

In [87]:
# iii) Updating the dictionary using a function.

dic={"EMP_NAME":"Kumar","Manger":"Dharshan"}
dict.update(dic)
print(dict)

{'EMP_ID': '1234', 'EMP_NAME': 'Kumar', 'Manger': 'Dharshan'}

In [89]:
# iv) Clear and delete the dictionary values.
del dict["Manger"]
print(dict)

dict.clear()

print(dict)

{'EMP_ID': '1234', 'EMP_NAME': 'Kumar'}
{}

# 7. Python program to insert a number to any position in a list.

In [90]:
l=[1,2,6,3,5,1,44]
l.insert(3,22)
print(l)

[1, 2, 6, 22, 3, 5, 1, 44]

# 8. Python program to delete an element from a list by index.

In [95]:
l=[1,2,6,3,5,1,44]
del l[2]
print(l)

[1, 2, 3, 5, 1, 44]

# 9. Write a program to display a number from 1 to 100.

In [97]:
n=int(input("To display 1 to 100"))
for i in range(1,n+1):
    print(i,end=" ")

To display 1 to 100100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10. Write a Python program to find the sum of all items in a tuple.

In [98]:
t=(1,2,3,4,5,33,6,7,88,99,100)
print(sum(t))

348

In [ ]:
# 11. Create a dictionary containing three lambda functions square, cube and square root

i) Eg. dict = ('Square': function for squaring, 'Cube': function for cube, 'Squareroot':

function for square root)

ii) Pass the values (input from the user) to the functions in the dictionary respectively.

iii) Then add the outputs of each function and print it.

In [105]:
# i) Eg. dict = ('Square': function for squaring, 'Cube': function for cube, 'Squareroot':

# function for square root)

import math

dict = {'Square': lambda x:x**2, 'Cube': lambda x:x**3, 'Squareroot':lambda x:math.sqrt(x)}

# ii) Pass the values (input from the user) to the functions in the dictionary respectively.

x=int(input())
results={key:value(x) for key,value in dict.items()}
print(results)

# iii) Then add the outputs of each function and print it.

s=sum(results.values())
print(s)

4
{'Square': 16, 'Cube': 64, 'Squareroot': 2.0}
82.0

# 12. A list of words is given. Find the words from the list that have their second character in uppercase

Is=['hello', 'Dear', 'hOw', 'ARe', 'You']

In [124]:
ls=['hello', 'Dear', 'hOw', 'ARe', 'You']


result=[i for i in ls if len(i) > 1 and  i[1].isupper()]
print(result)

['hOw', 'ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the

moon. (Use map and lambda functions) Formula: wMoon=(wEarth*GMoon)/GEarth
i) #Weight of people in kg

WeightOnEarth ={'John':45, 'Shelly':65, 'Marry':35}

ii)#Gravitational force on the Moon: 1.622 m/s2

GMoon= 1.622

iii) #Gravitational force on the Earth: 9.81 m/s2

GEarth=9.81

In [142]:
WeightOnEarth ={'John':45, 'Shelly':65, 'Marry':35}

moon_weights_values = list(map(lambda w: (w * GMoon) / GEarth, WeightOnEarth.values()))

WeightOnMoon = {name: weight for name, weight in zip(WeightOnEarth.keys(), moon_weights_values)}
print(WeightOnMoon)

{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}